/*Обнуление стилей*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, span,
a, address,img, ol, ul, li, footer, header, nav, section, button{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer, header,nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
/*--------*/

html{
    width: 320px;
    margin: 0 auto;
    background-color: #f5f5f5;
}
/*-----header-----*/
.header{
 display: flex;
 flex-direction: column;
}  
.header__text{
display: none;
}
.header__btn{
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #FF3E79;
    background-color: #FF3E79;
    border-radius: 50%;
}
.menu{
    display:flex;
    align-items: center;
    gap: 16px;
    padding:0 16px;
    height: 88px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #B8FFEC;
}
.menu li:nth-child(3),.menu li:nth-child(4),.menu li:nth-child(5){
    display: none;
}
.menu li:nth-child(6){

    margin-top: -35px;
}
.menu li:nth-child(2){
    flex-grow: 1;
}
.menu li:nth-child(6)::before{
    position: relative;
    content: "";
    display: inline-block;
    height: 32px;
    width: 2px;
    background-color: #EAEAEA;
    border-radius: 1px;
    right: 20px;
    top: 40px;
}
.header__block{
    display: none;
}

.logo{
    display: inline-block;
    height: 45.41px;
    width:96.55px ;
}
.logo__img{
    height: 100%;
}






.heading__title{
    margin:-40px 16px 18px 0;
    font-family: "TT Lakes", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin: 24px 0;
}
.heading__title::before{
    content: "";
    display: inline-block;
    background-color: #41F6D7;
    border-radius: 0 5px 5px 0;
    height: 40px;
    width: 3px;
    vertical-align: top;
    margin-right: 12px;
}
.page{
    width: 304px;
    margin: 0 auto;
}

.navigation__list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
.navigation__list{
    overflow:hidden ;
    overflow-x: scroll;
    display:flex;
    flex-wrap: nowrap;
    gap: 30px;
}
.navigation__link{
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    display: flex;
    justify-content:center;
    align-items: center;
    border :2px solid transparent;
    white-space:nowrap;


}

.navigation__link:hover{
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
}


/*----------*/

/*main*/

.section{
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    gap:16px;
}

.section__block{
    padding:0 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    height: 90px;
    width: 288px;
    gap:30px;

}
.section__text{
    font-family: "TT Lakes", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}
.section__button{
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    background-color: #f5f5f5;
    display: flex;
    gap: 8px;
    align-items: center;
    margin:16px 0 0 25px;
}


.section__img{
    align-self: flex-start;
    width: 100%;

}





@media (min-width: 768px){ 
    html{
        width: 768px;
    }
    .menu{
        gap:16px;
    }
    .menu li:nth-child(3),.menu li:nth-child(4),.menu li:nth-child(5){
        display: block;
    }
    .menu li:nth-child(2){
        flex-grow:1;
    }
    .menu li:nth-child(1){
        padding-top: 33px;
        margin-right: 20px;
    }
    
    .menu li:nth-child(1)::after{
        position: relative;
        content: "";
        display: inline-block;
        height: 32px;
        width: 2px;
        background-color: #f5f5f5;
        border-radius: 1px;
        left: 55px;
        top: -33px;
    }
    .logo{
        display: inline-block;
        height: 50.81px;
    }
    .menu li:nth-child(6){
        margin-left:20px;
    }

    .page{
        width: 732px;
        margin: 0 auto;
    }
    .section{
        display: flex;
        flex-direction: row;

    }
    .section__block{
        padding-left:24px;
        height: 160px;
        width: 312px;
    }
    .section__btn-block{
        display: flex;
        flex-direction:column ;
    }
    .section__img{
        width:360px ;
        height: 208px;
        margin-left: 32px;
    }
    .section__img img{
        border-radius: 10px; 
        height: 100%;
        width: 100%;
    }
    .section__button{
        padding-left: 10px;
    }
}



@media (min-width: 1120px){
    html{
        width: 1120px;
    }

    .menu li:nth-child(1),.menu li:nth-child(2),.menu li:nth-child(3),.menu li:nth-child(4),.menu li:nth-child(5){
        display: none;
    }
    .header__text{
        display: block;
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
    .menu{
        background-color: #f5f5f5;
        position:absolute;
        left: 715px;
        border:none;
    }
    .header__block{
        display: flex;
        align-items: center;
        justify-content: baseline;
        gap: 8px;
        height: 34px;
        white-space:nowrap;
        padding-top: 42px;
        background-color: #f5f5f5;
    }
    .header__btn img{
     padding-top:10px;
    }
    .header__del{
        display:none;
    }
    .menu li:nth-child(6){
        padding-top: 30px;
    }
    
    .heading{
        padding-top: 18px;
    }
    .menu li:nth-child(6)::before{
        display: none;
    }

    .page{
        width: 1063px;
        margin: 0 auto;
    }
    .navigation__list{
        width: 1063px;
        height: 90px;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .section{
        margin: 0 auto;
        padding-top: 16px; 
    }
    .section__block{
        height: 160px;
        width: 490px;
        padding-right: 34px;
        margin-left: 10px;

    }
    .section__img{
        height: 307px;
        width: 531.35px;
        margin-right:32px;
    }
}