/*Обнуление стилей*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, span,
a, address,img, ol, ul, li, footer, header, nav, section, button{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer, header,nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
    text-decoration: none;
}
button, a{
    cursor: pointer;
}
.btn{
    height: 40px;
    width: 40px;
    background: #FF3E79;
    border-radius: 20px
}
/*--------*/

.content{
    width: 320px;
    height:100vh;
    display: flex;
    flex-direction: column;
}

.block{
    display: flex;
    padding: 0 24px;
    gap: 16.73px;
    padding-top: 18.73px;
}
.block__btn{
    margin-top: 4.27px;
}
.logo{
    flex-grow: 1;
}

.logo__link{
    display: inline-block;
    height: 51px;
    width: 97px ;
}
.navigation{
    padding-top: 50.27px;
    flex-grow: 1;
}
.navigation__list{
    display: flex;
    flex-direction:column;
    vertical-align: middle;
    gap: 32px;
}
.navigation__list li{
    display: flex;
    align-items: center;

}
.navigation__btn{
    display: inline-block;
    background-color: white;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #1B1C21;
    padding-left: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.navigation__btn:hover{
    color: #7E7E82;
    display: flex;
    align-items: center;
    gap: 20px;

}

.navigation__btn:hover:before{
    display: inline-block;
    content: "";
    height: 32px;
    width: 4px;
    background-color:aqua;
    border-radius: 0 10px 10px 0;
    margin-left:-24px;
}

.contacts{
    padding-left:  24px;

}
.contacts__list{
    display: flex;
    gap:16px;
    padding-right:24px;
}


.contacts__address{
    display: flex;
    flex-direction: column;
    font-family: 'TT Lakes';
    font-style: normal;

}
.contacts__mail{
    margin-top: 16px;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
}
.contacts__tel{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: 700;
    text-decoration: none;
    width: 196px;
    margin-top: 12px;


}

.lang{
    display: flex;
    gap: 7px;
    margin-top:40px;
    margin-left: 24px;
}

.lang__btn{
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
    background: #FFFFFF;
}
.lang__btn:hover{
    color: #7E7E82;
}
.header__btn:hover,.contacts__btn:hover{
    opacity: 0.5;
}